<div class="row">
    <div class="col-md-12">
        <%= link_to comment.commenter.username, user_path(comment.commenter) %>
        <span class="pull-right"><%= time_ago_in_words(comment.created_at) %> ago</span>
        <p><%= comment.body %></p>
        <hr>
    </div>
</div>